@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }
}

input[type='checkbox'] {
  accent-color: green;
}